
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Comic Sans MS";
  overflow-x: hidden
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul > li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
    zoom:1;
    *display:inline;
        text-align: end;
    padding-right: 10px;
    /* this fix is needed for IE7- */
}
